<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

    <div class="gif-detail container">
        <div class="frame row">
            <div class="col s12">
                <img style="position: relative; z-index:1" th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif" />
                <a onclick="changeFav(); return false;" id="mark" href="#" src="static/icons/unfavorite.png" th:class="(${gif.favorites} ? 'un' : '') + 'mark favorite'">
                    <img style="position : relative; z-index:2" src="static/icons/unfavorite.png"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="meta row">
                    <div class="col s3">
                        <img class="circle" src="http://api.adorable.io/avatars/205/avatar" alt="avatar" />
                    </div>
                    <div class="col s9">

                        <h2 th:text="${gif.username}"/>
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="share">
                    <button class="btn right" href="#" onclick="myFunction()">Copy</button>

                    <textarea th:text="'http://gif.fy/' + ${gif.name}"  id="myInput">URL</textarea>

                    <script>
                        function myFunction() {
                            var copyText = document.getElementById("myInput");
                            copyText.select();
                            document.execCommand("Copy");
                            alert("Copied the text: " + copyText.value);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div>
       <!-- <div th:each="gif : ${gifs}">-->
        <a th:href="@{|/gif/${gif.name}|}">
            <img th:src="@{|/${gifs}/${gif.name}.gif|}" />
        </a>
    </div>
    <img style="position : relative; z-index:2" src="static/icons/unfavorite.png"/>

    <div th:insert="~{fragments/footer :: footer}">...</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>